name: 'Terraform Docs'
on:
  push:
    branches:
      - main
jobs:
  validate:
    name: generate
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Terraform Docs
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          recursive: "true"
          recursive-path: "."
          git-push: "true"
