name: 'Terraform Docs'
on:
  push:
    branches:
      - main
jobs:
  validate:
    name: generate
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Terraform Docs
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          recursive: "true"
          recursive-path: "."
          git-push: "true"
