name: 'Terraform Docs'
on:
  push:
    branches:
      - main
jobs:
  validate:
    name: generate
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Terraform Docs
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          recursive: "true"
          recursive-path: "."
          git-push: "true"
