name: 'Terraform Docs'
on:
  push:
    branches:
      - main
jobs:
  validate:
    name: generate
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Terraform Docs
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          recursive: "true"
          recursive-path: "."
          git-push: "true"
