name: 'Terraform Module CI'
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  validate:
    name: 'fmt, init, validate'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        modules:
        - appengine-flex
        - gce-igm-shielded
        - gce-vpc
        - gcp-project
        - gke-cluster
        - gke-nodepool
    defaults:
      run:
        working-directory: ${{ matrix.modules }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
      - name: Terraform Init
        id: init
        run: terraform init
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
